[submodule "SaturnRingLib"]
	path = SaturnRingLib
	url = https://github.com/ReyeMe/SaturnRingLib.git
	ignore = dirty
[submodule "core"]
	path = core
	url = https://github.com/mimasengine/doom-saturn-core.git
